

@model List<FAQEntity>

@foreach (var faq in Model)
{
    <div class="card mb-2">
        <div class="card-body">
            <p>@faq.Question</p>

            <form asp-action="DeleteQuestion" asp-controller="Hello" >
                <input type="hidden" name="id" value="@faq.Id" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
}
